/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/
/*Color Swatch---------------------------------
Green 	#336633
light green #33CC33
Gray	#bac0c5
White	#ffffff
black 	#000000 
-----------------------------------------------*/

/* =============================================================================
   Site Styles
   ========================================================================== */
body {
	background-color: #bac0c5;
	max-width: 900px; 
	font-size: 1.000em; /*12px*/
  	background-color:#FFFFFF;
  	border:3px solid #E6E6E6;
  	border-bottom-left-radius:10px;
  	border-bottom-right-radius:10px;
  	border-top-left-radius:10px;
  	border-top-right-radius:10px;
  	margin:0 auto;
  	padding:15px 20px;
}
#wrapper{
	max-width: 100%;
	overflow: hidden;
	margin: auto;
	background-color: #336633;
}
header{
	background-color: #ffffff;
	margin: 0px 0px 30px 0px;
	height: 250px; 
	overflow: hidden;
}
#nav{
	color: #336633;
	font-weight: bold;
	Top: 40px;
}
p {
	color: #000000;
	font: bold 1.0em/1.5em Noto Serif, helvetica, sans-serif;
	/*------text-align: left;------*/
	padding: 10px 10px 10px 5px;
	overflow: auto;
}
article {
	background-color: #ffffff; 
	max-width: 100%; 
	clear: both;
	overflow: auto;
	border:3px solid #336633;
  	border-bottom-left-radius:10px;
  	border-bottom-right-radius:10px;
  	border-top-left-radius:10px;
  	border-top-right-radius:10px;
  	margin:0 -20px 20px;
  	padding:15px 20px;
}
a {
	text-decoration: none;
	color: #33CC33;
	background: #ffffff;
	height: 2.500%; /* 40px */
}
a:visited {
	color: #336633;
}
a:hover {
	color: #33CC33;
	background: #ffffff;
}
a:active {
	color: #ffffff;
}
h1 {
	font-family: 'Libre Baskerville', serif;
	color: #ffffff;
	text-align: left;
}
h2 {
	text-align: left;
	font-family: 'Noto Serif', serif;
}
h3 {
	text-align: left;
	font-family: 'Noto Serif', serif;
}
/* =============================================================================
   Page Styles
   ========================================================================== */
#one {
	float: left;
	background-color: #ffffff;
	clear:both;
}
#two {
	max-width: 32.777777777778%;
	background-color: #ffffff;
}
#three {
	background-color: #ffffff;
	clear: both;
}
#four {
	float: left;
	background-color: #ffffff;
}
#five {
	background-color: #ffffff;
}
#six {
	float: left;
	background-color: #ffffff;
	clear:both;
}
#seven {
	float: left;
	background-color: #ffffff;
	clear: both;
}
#eight {
	float: left;
	background-color: #ffffff;
	max-width: 32.777777777778%; 
}
#nine{
	float: left;
	max-width: 32.777777777778%; 
	background-color: #ffffff;
}
ul {
	background-color: #336633;
	margin: 0 auto;
	list-style-type: none;
	padding: 10px;
	overflow: hidden;
}
ol {
	list-style-type: none;
}
li {
	background-color: #ffffff;
	margin: 0 auto;
	width: 100px; 
	list-style-type: none;
	display: inline;
	padding: 10px; 
}
footer {
	font-family: 'Libre Baskerville', serif;
	font-weight: bold;
	color: #336633;
	text-align: center;
	background: #ffffff;
	max-width: 100%;
}
/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/